.mdl-layout__header-row {
  background: rgb(121, 85, 72);
}

.mdl-layout__header .mdl-layout__drawer-button {
  background: rgb(121, 85, 72);
}

.mdl-layout__tab {
  background: rgb(121, 85, 72);
}

.mdl-button--fab .mdl-button__ripple-container {
  background: rgb(255, 255, 0);
  color: rgb(121, 85, 72);
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background: rgb(255, 255, 0);
}

#coffee-sign {
  height: 2em;
  width: 2em;
  font-size: 1.5em;
  fill: #94d31b;
}

.jumbo {
  height: 100vh;
  /* IE11 doesn't like min-height */
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(255, 255, 0, 0.5), rgba(0, 0, 0, 0.8)), url(6.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
  text-shadow: -1px -1px brown, -2px -2px yellow;
  box-shadow: .5px .5px 10px black;
}

.jumbo-1 {
  background-image: linear-gradient(rgba(255, 255, 0, 0.5), rgba(0, 0, 0, 0.8)), url(6.jpg);
}

.jumbo-2 {
  background-image: linear-gradient(rgba(255, 255, 0, 0.5), rgba(0, 0, 0, 0.8)), url(10.jpg);
}

.mdl-card__title-1 {
  color: #fff;
  background: url(14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
}

.mdl-card__title-2 {
  color: #fff;
  background: url(7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
}

.mdl-card__title-3 {
  color: #fff;
  background: url(16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
}

.about-pannel-1 {
  box-shadow: .5px .5px 10px black;
}

.about-panel-2 {
  box-shadow: .5px .5px 10px black;
  background: beige;
}

.jumbo h1 {
  margin-top: -75px
}

.footer-row {
  background-color: black;
  color: white;
  min-height: 50px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbo__text-button {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
}

.about-row {
  padding: 50px 0px 50px 0px;
}

.jumbo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.mdl-grid,
.jumbo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-card-image.mdl-card-1,
.demo-card-image.mdl-card-2,
.demo-card-image.mdl-card-3 {
  width: 80%;
  height: auto;
  min-height: 350px;
  margin: auto;
}

.mdl-card-1 {
  background: url('5.jpg') center / cover;
}

.mdl-card-2 {
  background: url('21.jpg') center / cover;
}

.mdl-card-3 {
  background: url('22.jpg') center / cover;
}

.demo-card-image>.mdl-card__actions {
  height: 52px;
  padding: 16px;
}

.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

/*******************************
 Updated 10-22-17
*******************************/

.mdl-layout__header-row,
.mdl-layout__header .mdl-layout__drawer-button,
.mdl-layout__tab {
  background: black;
}

.mdl-typography--display-4 {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  font-weight: 600;
  box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, .3);
}

.mdl-layout__tab {
  font-size: large;
}

.material-icons {
  z-index: 100;
}

.jumbo h1 {
  text-shadow: -10px -7px black, -11px -8px black;
  opacity: .87;
}

.mdl-layout__header-row {
  background: white;
  color: black;
  font-weight: 600;
}

.mdl-layout__tab-bar {
  background: black;
}

.mdl-layout__header .mdl-layout__drawer-button {
  background: white;
  color: black;
}

.about-row {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 20px;
}

.mdl-button .material-icons {
  color: rgba(0, 0, 0, .8);
  text-shadow: 0px 0px white;
}

.demo-card-image>.mdl-card__actions {
  text-align: center;
}

.about-row {
  max-width: 600px;
}

.yellow-dot {
  color: yellow;
}

.mdl-cell.mdl-cell--4-col.about-row {
  text-align: center;
  padding: 30px 0px;
}

.demo-card-square.mdl-card.mdl-shadow--2dp {
  margin: 0px auto;
}

.mdl-layout__drawer>.mdl-layout-title {
  font-size: 16px;
}

.mdl-layout__drawer .page-content {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .mdl-layout__drawer-button {
    display: none
  }
  ;
  .about-row {
    padding: 0px;
  }
}
@media screen and (max-width: 800px) {
  .mdl-typography--display-4{
    font-size: 80px;
  }  
}

/***********New Stuff********************************/

.overlay-1 {
  background: #F44336;
}

.overlay-2 {
  background: #2196F3;
}

.overlay-3 {
  background: #00E676;
}


